.banner {
    background-image: url(../../images/bg.png);
    padding: 250px 0;
    background-size: cover;
    background-repeat: none;
    margin-bottom: 30px;
}
.banner-wrapper {
    display: flex;
    justify-content: center;
}
h1 {
    color: var(--h1-color);
    font-size: var(--h1-font-size);
}